@import url("https://fonts.googleapis.com/css2?family=Courier+Prime&family=Roboto+Slab:wght@500&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}


html {
  font-family: "Courier Prime", monospace;
  font-weight: 400;
  scroll-behavior: smooth;
}

h1,
h2,
h3 {
  font-family: "Roboto Slab", serif;
  font-weight: 600;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  /* border: 2px solid black; */
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0px;
  backdrop-filter: blur(4px);
}

header nav {
  padding: 1.5rem;
}

header nav ul {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  list-style-type: none;
}

header nav a {
  text-decoration: none;
  color: black;
}

header nav a:hover {
  text-decoration: underline;
  transition: 0.3s;
  color: blue;
}

main {
  width: 60%;
}

section {
  padding-top: 2rem;
  display: flex;
  flex-direction: column;
}

hr {
  margin-top: 4rem;
}

section:nth-child(1n + 2) {
  padding-top: 4rem;
}

section > h2 {
  align-self: start;
  padding-left: 5rem;
}

#sobre-mi {
  display: flex;
  flex-direction: column;
}

#sobre-mi #contenido {
  padding-top: 2rem;
  display: flex;
  justify-content: center;
}

#sobre-mi #imagen {
  display: flex;
  align-items: center;
  justify-content: center;
}

#sobre-mi #imagen img {
  width: 60%;
  border-radius: 50%;
}

#texto {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 60%;
  gap: 1rem;
}

#texto p:first-child {
  font-size: 2.5rem;
  align-self: start;
}

#texto > h1 {
  align-self: start;
  font-size: 1.5rem;
}

#botones {
  padding-top: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

#botones a {
  width: 10rem;
  text-align: center;
  padding: 0.7rem;
  border-radius: 0.5rem;
  background-color: blue;
  color: white;
  text-decoration: none;
}

#botones a:hover {
  cursor: pointer;
  background: rgb(76, 76, 255);
  transition: 0.3s;
}

#contenedor-exp {
  padding-top: 2rem;
  display: grid;
  grid-template-columns: 1fr 80%;
  grid-template-rows: auto;
}

#barra-exp {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;

  border-right: thick solid black;
  height: auto;
  display: flex;
}

#exp1 {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-left: 2rem;
}

#contenedor-tec img {
  width: 7%;
}

#contenedor-tec {
  padding-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 2rem;
}

#contenedor-tec :hover {
  transform: scale(1.15) rotate(-10deg);
  transition: 0.2s;
}

#contenedor-proyectos {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.proyecto {
  padding-top: 2rem;
  padding-left: 8rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: start;
}

.tarjeta-proyecto {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  border: 2px solid black;
  border-radius: 0.5rem;
  padding: 1.5rem;
  padding: 1rem;
  box-shadow: -5px 5px 5px grey;
}

.tarjeta-proyecto > img {
  width: 100%;
}

.tarjeta-proyecto h3 {
  padding-bottom: 1rem;
}

.contenido-proyecto {
  padding-left: 1rem;
  width: 60%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.contenido-proyecto a {
  width: 10rem;
  text-align: center;
  padding: 0.7rem;
  border-radius: 0.5rem;
  background-color: blue;
  color: white;
  text-decoration: none;
}

.contenido-proyecto a:hover {
  cursor: pointer;
  background: rgb(76, 76, 255);
  transition: 0.3s;
}

#estudios {
  padding-bottom: 4rem;
}

#contenedor-est {
  padding-top: 2rem;
  display: grid;
  grid-template-columns: 1fr 80%;
  grid-template-rows: auto;
}

#barra-est {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 4;

  border-right: thick solid black;
  height: auto;
  display: flex;
}

#est1 {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-left: 2rem;
}

#est2 {
  padding-top: 2rem;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-left: 2rem;
}

#est3 {
  padding-top: 2rem;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 4;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-left: 2rem;
}

@media (max-width: 620px) {
  header {
    width: 100%;
  }

  nav ul {
    padding: 0;
    flex-wrap: wrap;
  }

  main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  section > h2 {
    padding-left: 1rem;
  }

  hr {
    width: 80%;
    text-align: center;
  }

  #sobre-mi #contenido {
    width: 100%;
    flex-direction: column;
    align-items: center;
  }

  #texto {
    padding-top: 2rem;
  }

  #sobre-mi #imagen img {
    width: 40%;
  }

  #botones {
    flex-direction: column;
  }

  #contenedor-exp {
    display: flex;
  }

  #exp1,
  #est1,
  #est2,
  #est3 {
    padding-left: 1rem;
  }

  #barra-exp {
    display: none;
  }

  #tecnologias {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  #contenedor-tec {
    flex-wrap: wrap;
    width: 60%;
  }

  #contenedor-tec img {
    width: 30%;
  }

  #contenedor-proyectos {
    padding-top: 2rem;
  }

  .proyecto {
    flex-direction: column;
    padding: 0;
  }

  .tarjeta-proyecto {
    width: 60%;
    margin-bottom: 1rem;
  }

  #contenedor-est {
    display: flex;
    flex-direction: column;
  }

  #barra-est {
    display: none;
  }
}
